body {
  padding-left: 5em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: rgb(119, 128, 0);}
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif }
ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }
ul.navbar a {
  text-decoration: none }
a:link {
  color: blue }
a:visited {
  color: purple }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }

  b{
    font-size: 22px;
    color: red;
  }
  h1{  
  font-size:24px;
   text-align: center;
  color: blue; }

  .topnav a{
    float:  right;
    text-align: right;
    padding: 19px;
    text-decoration: rgb(80, 255, 203);
    font-size: 20px;
  }
  .topnav a.active {
    color: white;
  }